/* SECTION: GLOBAL */
.verticalcenter {vertical-align: middle;}
body{
  height: 100%;
  /*BACKGROUND PROPERTIES */
  background-color: #000;
  background: url("../img/bg-masthead.jpg") ;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}
  /*GLOBAL - FONT PROPERTIES*/  
  body{
    font-family: 'Nunito'; letter-spacing: 0.0625em;
    -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
  a {color: #64a19d;}
  a:focus, a:hover {text-decoration: none; color: #3c6360;}

  /*GLOBAL - TEXT PROPERTIES */
  h1, h2, h3, h4, h5, h6 {color: #ffffff;margin: 0;font-weight: 700;}
  h1 {font-size: 70px;}
  h2 {font-size: 36px;}
  h3 {font-size: 30px;}
  h4 {font-size: 24px;}
  h5 {font-size: 18px;}
  h6 {font-size: 16px;}
  p {font-size: 16px; color: #60656b; line-height: 1.8;}

  /* SECTION: MENU */
    /* SUBSECTION: MENU - FORMATTTING */
      ul, ol {padding: 0;margin: 0;}
      .header-section {
        background: rgba(0, 0, 0, 0.3);
        text-align: center;
        padding: 16px 90px;
        position: relative;
      }
      .site-menu-style {list-style: none;}
      .site-menu-style li {display: inline-block;}
      .site-menu-style li a {margin-right: 50px; padding:22px 0px; display: inline-block;}
      .site-menu-style li:last-child a {margin-right: 0;}
      .mobile-nav-switch, .mobile-menu {display: none;}  
      .soc-icons{float:right;margin-top:10px;margin-right:15px;}
      .active{font-weight: bold;}

      /* SUBSECTION: MENU - FORMATTTING - TEXT PROPERTIES */
      .site-menu-style li a {font-size: 18px;	text-transform: uppercase;	color: #fff;}

      /* SUBSECTION: MENU - POSITIONING */
      .site-logo {display: inline-block;}
      .main-menu-left {float: left;}
      .main-menu-right {float: right;}

    /*RESPONSIVE: medium screens*/
      @media only screen and (min-width: 992px) and (max-width:1199px)
        {
          .header-section {padding-left: 0; padding-right: 40px;}
          .header-section .container {max-width: 100%;}
          .site-menu-style li a {margin-right: 10px;}
        }
    
    /* Tablet: 768px. */
      @media only screen and (min-width: 768px) and (max-width: 991px)
      {
        .header-section {padding-left: 0; margin-right: -10px;}
        .header-section .container {max-width: 100%;}
        .site-menu-style li a {margin-right: 5px;}
      }
    
    /* Large Mobile: 480px. */
      @media only screen and (max-width: 767px)
      {
        .header-section {padding: 8px 0;  padding-right: 90px;  text-align: left;}
        .header-section .container {max-width: 100%;}
        .main-menu-left, .main-menu-right {display: none;}
        .mobile-nav-switch {
        display: block;  position: absolute; right: 0; top: 0; width: 77px; height: 100%; font-size: 30px; color: #fff; text-align: center;
        padding-top: 16px; cursor: pointer;}
        .mobile-menu {position: absolute;left: 0; top: 100%; width: 100%; list-style: none;  background: #000; z-index: 999; padding: 20px 0;}
        .mobile-menu li {display: block;}
        .mobile-menu li:first-child a {border-top: none;}
        .mobile-menu a {color: #fff; display: block; padding: 10px 25px; font-size: 14px;}
        .soc-icons{display:none;}
      }
    
    
    /* SECTION: ABOUT */

    .aboutmasthead {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 30rem;
      padding: 15rem 0;
      background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-masthead.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
    }
    
    .aboutmasthead h1 {
      font-size: 2.5rem;
      line-height: 2.5rem;
      letter-spacing: 0.8rem;
      background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
    
    .aboutmasthead h2 {
      max-width: 20rem;
      font-size: 2rem;
      padding-top:20px;
    }

    @media (min-width: 768px) {
      .aboutmasthead h1 {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
    
    @media (min-width: 992px) {
      .aboutmasthead {
        height: 90vh;
        padding: 0;
      }
      .aboutmasthead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
      }
      .aboutmasthead h2 {
        max-width: 30rem;
        font-size: 2.7rem;
      }
    }
  
  .about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
  }
  .about-section p {margin-bottom: 5rem;}
  .projects-section {padding: 10rem 0;}
  .projects-section .featured-text {padding: 2rem;}
  
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #5d8757;
    }
  }
  
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  
  @media (min-width: 992px) {
    .projects-section .project-text {padding: 5rem;}
    .projects-section .project-text hr {border-color: #5d8757; border-width: .25rem;width: 30%;}
  }

  .bg-black {background-color: #161616 !important;}
  .bg-primary {background-color: #64a19d !important;}
  .text-primary {color: #64a19d !important;}
  footer {padding: 5rem 0;}
  .grayscale{transition: filter .15s ease-in-out;-webkit-filter: grayscale(100%);filter: grayscale(100%);}
  .grayscale:hover{-webkit-filter: grayscale(0%);filter: grayscale(0%);}
  img {max-width: 100%;}
  input:focus,select:focus,button:focus,textarea:focus {outline: none;}
  a:hover,a:focus {text-decoration: none;outline: none;}

/* Accordion */

.accordion-area .panel {
	margin-bottom: 12px;
}

.accordion-area .panel-header {
	display: block;
	font-weight: 600;
	position: relative;
	border: 2px solid #081624;
	-webkit-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.accordion-area .panel-header.active .panel-link {
	color: #fff;
	background-color: #081624;
}

.accordion-area .panel-header.active .panel-link.collapsed {
	color: #081624;
	background-color: transparent;
}

.accordion-area .panel-link:after {
	content: "+";
	position: absolute;
	font-size: 14px;
	font-weight: 400;
	right: 25px;
	top: 50%;
	color: #081624;
	line-height: 16px;
	margin-top: -8px;
	margin-left: -4px;
}

.accordion-area .panel-header.active .panel-link:after {
	content: "-";
	margin-top: -10px;
	color: #fff;
}

.accordion-area .panel-header.active .panel-link.collapsed:after {
	content: "+";
	color: #081624;
}

.accordion-area .panel-link {
	text-align: left;
	background-color: transparent;
	border: none;
	position: relative;
	width: 100%;
	padding: 20px 40px;
	padding-left: 34px;
	font-size: 14px;
	text-transform: uppercase;
	color: #081624;
	font-weight: 400;
	cursor: pointer;
}

.accordion-area .panel-body p {
	margin-bottom: 0;
	padding-top: 30px;
	line-height: 1.9;
}

.accordion-area .panel-body {
	padding: 0 5px;
}

/* Tab */

.tab-element .nav-tabs {
	border-bottom: none;
	margin-bottom: 25px;
}

.tab-element .nav-item {
	margin-right: 10px;
	margin-bottom: 10px;
}

.tab-element .nav-tabs .nav-link {
	border: 2px solid #081624;
	text-align: left;
	background-color: transparent;
	border-radius: 0;
	position: relative;
	width: 100%;
	padding: 20px 35px;
	font-size: 14px;
	text-transform: uppercase;
	color: #081624;
	font-weight: 400;
	cursor: pointer;
}

.tab-element .nav-tabs .nav-item:last-child {margin-right: 0;}
.tab-element .nav-tabs .nav-link.active {background: #081624;color: #fff;}
.tab-element .tab-pane p {margin-bottom: 0; line-height: 1.9;}