.nav-contain{position: -webkit-sticky;position: sticky;top:0;z-index: 9999;background-color: rgba(0, 0, 0, 0.3);}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{color: #ffffff;}
.social-btns{float:right;margin-top:10px;margin-right:10px;}
.navbar-nav .nav-link{font-size: 25px;}
.navbar-nav .nav-sub{font-size: 18px; color:#ffffff;}